<%= form_with(model: idea) do |form| %>
  <% if idea.errors.any? %>
    <div class="flash alert">
      <% idea.errors.each do |error| %><div><%= error.full_message %></div><% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.textarea :description %>
  </div>
  <div class="form-group">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>
  <div class="form-actions">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", ideas_path, class: "btn btn-secondary" %>
  </div>
<% end %>
