<div id="<%= dom_id article_memo %>">
  <div>
    <strong>Title:</strong>
    <%= article_memo.title %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= article_memo.body %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= article_memo.category %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= article_memo.status %>
  </div>

</div>
