<%= form_with(model: article_memo) do |form| %>
  <% if article_memo.errors.any? %>
    <div class="flash alert">
      <% article_memo.errors.each do |error| %><div><%= error.full_message %></div><% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="form-group">
    <%= form.label :body %>
    <%= form.textarea :body %>
  </div>
  <div class="form-group">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>
  <div class="form-group">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>
  <div class="form-actions">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", article_memos_path, class: "btn btn-secondary" %>
  </div>
<% end %>
